.footer__logo{
    display: none;
}

@media (min-width: 1000px) {

    .footer {
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        height: 70px;
    }

    .footer__logo {
        display: block;
        background-color: rgb(255, 255, 255);
        width: 60px;
        margin: 15px 0 15px 0;
    }
}